
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Card */
.container .card {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 62px;
}
.card-border{
  border: none !important;
  background-color: transparent !important;
  font-family: sans-serif;

}
/* Icon Section */
.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c73df;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .card .icon .img-fluid {
  font-size: 80px;
  color: #fff;
  
  border-radius: 20px;
}

/* Slides */
.container .card .slide {
  width: 550px;
  height: 250px;
  transition: 0.5s;
 
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}

/* Slide 1 */
.container .card .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.7s;
  transform: translateY(100px);
}

.container .card:hover .slide.slide1 {
  transform: translateY(0px);
}

/* Slide 2 */
.container .card .slide.slide2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.container .card:hover .slide.slide2 {
  transform: translateY(0);
}

.container .card .slide.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #2c73df;
}


.container .card .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
  color: #414141;
}


.home-h1 {
  font-size: 9vmin;
  color: #8bf;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 1rem 0 1rem 2rem;
  display: flex;
}

/* TYPEWRITER */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #8bf;
  width: 0;
  animation: typeDelete 6s steps(18) infinite, blink 0.8s infinite;
}

/* TYPE + DELETE in one animation */
@keyframes typeDelete {
  0% { width: 0; }
  40% { width: 18ch; }   /* typing */
  60% { width: 18ch; }   /* hold */
  100% { width: 0; }     /* deleting */
}

/* Cursor blink */
@keyframes blink {
  0% { border-color: transparent; }
  50% { border-color: #8bf; }
  100% { border-color: transparent; }
}




.social-icon {
  margin-top: 40px;
}


.skew-social {
  display: flex;
  padding: 0;
  margin: 0;
}

.skew-social li {
  list-style: none;
  margin: 0 5px;
}
.skew-social li a .fa {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: 0.5s;
  padding-right: 14px;
}

.skew-social li a span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: 0.5s;
}

.skew-social li a {
  position: relative;
  text-decoration: none;
  display: block;
  width: 200px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.skew-social li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: rotate(0deg) skewY(-45deg);
}

.skew-social li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: rotate(0deg) skewX(-45deg);
}

.skew-social li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.skew-social li:hover .fa {
  color: #fff;
}

.skew-social li:hover span {
  color: #fff;
}

/* Facebook */
.skew-social li:hover:nth-child(1) a {
  background: #3b5998;
}
.skew-social li:hover:nth-child(1) a:before {
  background: #365492;
}
.skew-social li:hover:nth-child(1) a:after {
  background: #4a69ad;
}

/* Twitter */
.skew-social li:hover:nth-child(2) a {
  background: #00aced;
}
.skew-social li:hover:nth-child(2) a:before {
  background: #097aa5;
}
.skew-social li:hover:nth-child(2) a:after {
  background: #53b9e0;
}

/* Google */
.skew-social li:hover:nth-child(3) a {
  background: #dd4b39;
}
.skew-social li:hover:nth-child(3) a:before {
  background: #b33a2b;
}
.skew-social li:hover:nth-child(3) a:after {
  background: #e66a5a;
}

/* Instagram */
.skew-social li:hover:nth-child(4) a {
  background: #e4405f;
}
.skew-social li:hover:nth-child(4) a:before {
  background: #d81c3f;
}
.skew-social li:hover:nth-child(4) a:after {
  background: #e46880;
}

@media (max-width: 320px) {

  .container {
    padding: 0 10px;
  }

  .container .card .slide {
    width: 100%;
    max-width: 250px !important;
     height: 180px !important;
  }

  .container .card .icon img {
    width: 85%;
  }

  .container .card .slide.slide2 .content h3 {
    font-size: 16px;
  }

  .container .card .slide.slide2 .content p {
    font-size: 12px;
  }

  .home-h1 {
    font-size: 6.5vmin;
    justify-content: center;
    text-align: center;
  }

  .skew-social li a {
    width: 160px;
    height: 55px;
  }

  .skew-social li a span {
    font-size: 12px;
  }
}


@media (max-width: 380px) {

  .container {
    padding: 0 14px;
  }

  .container .card .slide {
    width: 100%;
    max-width: 280px;
    height: 170px;
  }

  .container .card .slide.slide2 .content h3 {
    font-size: 18px;
  }

  .container .card .slide.slide2 .content p {
    font-size: 13px;
  }

  .home-h1 {
    font-size: 7vmin;
    justify-content: center;
    text-align: center;
  }

  .skew-social li a {
    width: 170px;
    height: 58px;
  }
}


@media (max-width: 420px) {

  .container {
    padding: 0 16px;
  }

  .container .card {
    margin: 20px 0;
  }

  .container .card .slide {
    width: 100%;
    max-width: 350px;
    height: 180px;
  }

  .container .card .icon img {
    width: 100%;
    height: auto;
  }

  .home-h1 {
    font-size: 7.5vmin;
    margin: 20px 0;
    justify-content: center;
    text-align: center;
  }

  .skew-social {
    flex-direction: column;
    align-items: center;
  }

  .skew-social li {
    margin: 10px 0;
  }

  .skew-social li a {
    width: 180px;
    height: 60px;
    transform: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  .skew-social li a:before,
  .skew-social li a:after {
    display: block;
  }
}


@media (max-width: 480px) {

  .container {
    padding: 0 10px;
  }

  .container .card .slide {
    width: 400px !important;
    height: 180px !important;
  }

  .container .card .slide.slide2 .content h3 {
    font-size: 18px;
  }

  .container .card .slide.slide2 .content p {
    font-size: 13px;
  }

  .home-h1 {
    font-size: 7vmin;
    margin: 20px 0;
    text-align: center;
    justify-content: center;
  }

  .social-icon {
    margin-top: 20px;
  }

  .skew-social {
    flex-direction: column;
    align-items: center;
  }

  .skew-social li {
    margin: 10px 0;
  }

  .skew-social li a {
    width: 180px;
    height: 60px;
    transform: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  .skew-social li a:hover {
    transform: translateY(-5px);
  }

  .skew-social li a:before,
  .skew-social li a:after {
    display: block;
  }
}


/* Medium Devices (Large Phones & Small Tablets) */
@media (max-width: 600px) {

  .container .card .slide {
    width: 350px;
    height: 200px;
  }

  .home-h1 {
    font-size: 8vmin;
    text-align: center;
    justify-content: center;
  }

  .skew-social {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skew-social li {
    margin: 10px;
  }

  .skew-social li a {
    width: 190px;
    height: 65px;
  }
}


/* Tablets */
@media (max-width: 768px) {

  .container .card .slide {
    width: 420px;
    height: 220px;
  }

  .container .card .slide.slide2 .content h3 {
    font-size: 22px;
  }

  .container .card .slide.slide2 .content p {
    font-size: 14px;
  }

  .home-h1 {
    font-size: 8vmin;
    text-align: center;
    justify-content: center;
  }

  .skew-social {
     flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
}


/* Small Laptops */
@media (max-width: 1024px) {

  .container .card .slide {
    width: 480px;
    height: 240px;
  }

  .home-h1 {
    font-size: 5vmin;
  }

  .skew-social li a {
    width: 190px;
  }
}


/* Large Screens */
@media (min-width: 1200px) {

  .container .card .slide {
    width: 550px;
    height: 250px;
  }

  .home-h1 {
    font-size: 5vmin;
  }
}
