
* {
  transition: all 0.3s ease;
}


.custom-navbar {
  padding: 13px 20px !important;
  background: #ffffff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  position: sticky !important;
  top: 0;
  z-index: 100;
}



.logo-img {
  width: 55px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.logo-img:hover {
  transform: scale(1.1);
}

/* MODAL */
.logo-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.logo-modal-box {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  animation: zoomIn 0.3s ease;
}

.logo-modal-img {
  width: 320px;
  max-width: 90vw;
  border-radius: 10px;
}

.logo-close {
  position: absolute;
  top: -12px;
  right: -12px;
  background: #000;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@keyframes zoomIn {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.brand-text {
  font-size: 1.5rem;
  color: #6c5ce7 !important;
  letter-spacing: 1px;
}


.nav-gap {
  gap: 30px;
}


.nav-a {
  color: #333 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  position: relative;
  padding-bottom: 5px !important;
}


.underline-hover::after {
  content: "";
  width: 0;
  height: 2px;
  background: #6c5ce7;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.underline-hover:hover::after {
  width: 100%;
}


.nav-a:hover {
  color: #6c5ce7 !important;
}


.dark-mode {
  background-color: #0f0f0f;
  color: white;
}


.dark-mode .custom-navbar {
  background-color: #1a1a1a;
  box-shadow: none;
}


.dark-mode .nav-a {
  color: #ddd !important;
}

.dark-mode .nav-a:hover {
  color: #8ab4f8 !important;
}

.dark-mode .underline-hover::after {
  background: #8ab4f8;
}


.dark-mode .brand-text {
  color: #8ab4f8 !important;
}


.dark-toggle-btn {
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.dark-mode .dark-toggle-btn {
  color: #fff;
}

.dark-toggle-btn:hover {
  transform: scale(1.2);
}
